@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #301e4e;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 700px;
    margin: 80px auto;
}

.tabs__content {
    padding: 30px;
    color: #c9bae2;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    background: #463366;
}

.tabs__content h3 {
    color: #ffffff;
    font-weight: 700;
    font-family: inherit;
    font-size: 24px;
    margin-bottom: 10px;
}


.tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 10px 0;
}

.tabs__button {
    background: rgba(0, 0, 0, 0);
    padding: 4px;
    color: #ffffff;
    box-shadow: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    display: block;
    position: relative;
    font-family: inherit;
    font-weight: 400;
}

.tabs__button:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: rgb(10, 207, 174);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.4s ease-in-out;
}

.tabs__button.active::after {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s, opacity 0.4s ease-in-out;
}

.slider {
    width: 100%;
    height: 3px;
    position: relative;
    margin-bottom: 15px;
}

.indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 70px;
    background: chartreuse;
    transition: all 0.3s ease;
}